.our-products {
  background: url(https://picsum.photos/1200/1600);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: -1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
.meet-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  color: #fff;
  h2,
  p {
    margin-top: 1rem;
  }
  i {
    color: $primary-color;
  }
}
.listing {
  z-index: 10;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 1rem;
  color: #fff;
  h2,
  p {
    margin-top: 1rem;
  }
  h2 {
    font-weight: 300;
  }
}